@import "tailwindcss";

.Navbar_Top{
    @apply sticky top-0 bg-white w-full flex justify-around items-center font-[outfit]
}

.Logo_style{
    @apply text-3xl font-extrabold text-orange-500 max-sm:hidden
}
.Button_style{
    @apply m-2 p-1 outline-2 outline-amber-600 rounded-full
}

.Central_Default{
    @apply flex flex-col items-center justify-center
}

.Circular_Box{
    @apply object-cover w-20 h-20 min-h-20 min-w-20 rounded-full;
}
.Circular_Box:active{
    @apply outline-5 outline-orange-500;
    transition-duration: 200ms;
    transition-timing-function: ease;
}

.Circular_Box_Outline{
    @apply outline-5 outline-orange-500
}


@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.dropbtn {
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  text-decoration: none;
  display: flex;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    /* background-color: #f1f1f1 */
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  @apply grid grid-cols-1 place-items-center
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  /* background-color: #3e8e41; */
}

*{
  scroll-behavior: smooth;
}

.grid-fade-mask {
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
}